In [ ]:
# If the numbers 1 to 5 are written out in words: one, two, three, four, five, then there are
#    3 + 3 + 5 + 4 + 4 = 19 letters used in total.

# If all the numbers from 1 to 1000 (one thousand) inclusive were written out in words, 
#  how many letters would be used?

# NOTE: Do not count spaces or hyphens. For example, 342 (three hundred and forty-two) contains 23 letters
#    and 115 (one hundred and fifteen) contains 20 letters. The use of "and" when writing out numbers is in
#    compliance with British usage.

In [7]:
set1to9 = (3+3+5+4+4+3+5+5+4)
set10to19 = (3+6+6+8+8+7+7+9+8+8)
mul10s = (6+6+5+5+5+7+6+6)
set20to99  = 10*mul10s + 8*set1to9
set1to99 = set1to9 + set10to19 + set20to99
onesHund = set1to9*100
Hund1to99 = set1to99*9
Hunds = 7*9
HAnd = 10*891
TOTAL  = onesHund + Hund1to99 + Hunds + HAnd +set1to99 + 11
TOTAL

21124